{% extends 'Home.html' %}
{% block content %}
<style type="text/css">
	.form{
		background-color:aquamarine; font-size:16px; margin-left:20px; padding-left:10px; width: 600px;
	}
	.tr_head{
		font-weight: bold; color: #E904F7; background-color: #89D9F7;
	}
</style>
<table class="table form table-hover">
    <tr class="tr_head">
      <th>STT</th>
      <th>GV dự</th>
      <th>Tổ CM</th>
      <th>Ngày dự</th>
      <th>Phụ chú</th>
    </tr>
  {% for x in mymembers %}
    <tr>
      <td>{{ x.id }}</td>
      <td>{{ x.hoTen }}</td>
      <td>{{ x.toCM }}</td>
      <td>{{ x.ngayDu }}</td>
      <td>{{ x.phuChu }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}